.flex.justify-center.content-center
  .flex.flex-col.justify-start
    h2.text-center.text-lg.font-bold
      | ログイン

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      dl
        dt.label = f.label :email
        dd = f.email_field :email, autofocus: true, autocomplete: "email"
    
        dt.label = f.label :password
        dd = f.password_field :password, autocomplete: "current-password"
    
      .field
        - if devise_mapping.rememberable?
          = f.check_box :remember_me
          | &nbsp;
          = f.label :remember_me

      .actions
        = f.submit 'ログイン', class: 'btn btn-submit'
  
      .text-center
        = render "users/shared/links"
