.my-2
  = link_to('全表示', media_path, class: 'btn btn-normal')

h1.inline-block.py-4 一覧
.inline-block.ml-4
  = link_to('新規登録', new_medium_path, class: 'btn btn-normal')
.inline-block.ml-4
  = form_with(url: my_page_path, method: :get) do |f|
    = f.text_field :tag, placeholder: 'タグ検索', value: @tag_name
    = f.submit('検索', class: 'btn btn-normal ml-2')

.pagy_nav
  == pagy_nav(@pagy)

#media
  - @media.each do |medium|
    = link_to medium do
      == render medium

.pagy_nav
  == pagy_nav(@pagy)

