= form_with(model: @medium) do |form|
  - if @medium.errors.any?
    div style="color: red"
      h2 = "#{pluralize(@medium.errors.count, "error")} prohibited this medium from being saved:"
      ul
        - @medium.errors.each do |error|
          li = error.full_message

  dl
    dt.label = form.label :name
    dd = form.text_field :name

    dt.label = form.label :author
    dd = form.text_field :author

    dt.label = form.label :tag_names
    dd = form.text_field :tag_names, placeholder: '空白で区切ってください'
  
    dt.label = form.label :file
    dd
      - if @medium.id.present?
        = image_tag @medium.file.thumb.url
        .hidden = form.file_field :file
      - else
        = form.file_field :file
      = form.hidden_field :file_cache

  .inline-block.mt-2
    = form.submit(class: 'btn btn-normal')
    = link_to "戻る", media_path, class: 'btn btn-cancel ml-4'

