div id="#{dom_id medium}"
  .thumbnail_outer
    - if medium.file.content_type.include?('video/')
      = video_tag medium.file.url, controls: true, autobuffer: true, class: 'thumbnail'
    - else
      = image_tag medium.file.thumb.url, class: 'thumbnail'
  .name
    = "#{medium.name} / #{medium.author}"

