.medium
  - if @medium.file.content_type.include?('video/')
    = video_tag @medium.file.url, controls: true, autobuffer: true
  - else
    = image_tag @medium.file.url

.title
  = "#{@medium.name} / #{@medium.author}"

.tags
  - @medium.tags.each do |tag|
    .tag = tag.name

.flex.justify-between
  .buttons.py-4
    = link_to "更新", edit_medium_path(@medium), class: 'btn btn-normal'
    = link_to "戻る", media_path, class: 'btn btn-cancel ml-4'

  .buttons2.py-2
    = button_to "削除", @medium, method: :delete, class: 'btn btn-danger', form: { data: { turbo_confirm: '削除してよろしいですか？' } }

