@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-500;
}

.btn {
  @apply rounded-lg px-4 py-2;
}

.btn-normal {
  @apply text-white bg-green-400;
}

.btn-cancel {
  @apply border border-blue-500;
}

.btn-submit {
  @apply font-bold text-white bg-green-500;
}

.btn-danger {
  @apply font-bold text-white bg-red-500;
}

.field {
  @apply my-4;
}

.actions {
  @apply text-center my-4;
}

.tag {
  @apply inline-block px-2 mx-1 text-white bg-gray-500;
}

#media {
  @apply flex;
}

.pagy_nav {
  @apply py-4;
}

.page {
  @apply rounded-lg px-4 py-2 text-white bg-green-400;
}

.page.disabled {
  @apply bg-green-100;
}

.page.active {
  @apply border border-green-900;
}

.label {
  @apply mt-2;
}

.thumbnail_outer {
  position: relative;
  width: 320px;
  height: 320px;
  @apply bg-gray-100 m-1;
}

.thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
