doctype html
html
  head
    title
      | Javelin collector
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    / = stylesheet_link_tag "tailwind", "inter-font"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    / = stylesheet_link_tag "application"
    = javascript_importmap_tags

  body
    nav.bg-green-100.py-4
      .flex.justify-between
        #title.ml-4
          | Javelin collector
        - if user_signed_in?
          #menu.mr-4
            = link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-normal'

    main.container.mx-auto
      .text-center
        .alert
          = alert
        .notice
          = notice

      = yield
