.flex.justify-center.conetnt-center
  .flex.flex-col.justify-start
    h2.text-center.text-lg.font-bold
      | サインアップ

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "users/shared/error_messages", resource: resource
  
      dl
        dt.label = f.label :email
        dd = f.email_field :email, autofocus: true, autocomplete: "email"

        dt.label = f.label :password
          /- if @minimum_password_length
            em
            | (
            = @minimum_password_length
            |  characters minimum)
        dd = f.password_field :password, autocomplete: "new-password"

        dt.label  = f.label :password_confirmation
        dd = f.password_field :password_confirmation, autocomplete: "new-password"
        
      .actions
        = f.submit 'サインアップ', class: 'btn btn-submit'

      .text-center
        = render "users/shared/links"
